body{
  text-align: center;
  background-image: url("./img/bg.jpg");
  background-attachment: fixed;
  background-position-x: center;
  background-size: 85% 100%;
}

.App-header {
  


  padding: 20px;
  color: white;
}

nav {
  margin-bottom: 20px;
  
}

nav button {
  margin: 4%;
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149CEA;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
}

nav button::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 30%;
  background-color: black;
  transition: 0.5s;
  transform-origin: center;
}

nav button::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 30%;
  background-color:black;
  transition: 0.5s;
}

nav button:hover::before, button:hover::after {
  transform: scale(0)
}

nav button:hover {
  box-shadow: inset 0px 0px 25px #1479EA;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
